{% extends "base.html" %}
{% set title ='Informe diario CATV Telepresencia' %}

{% block content %}

	<p>Buenos días Esther,</br>
        Adjuntamos informe del día {{ my_date.strftime('%d') }} de Marzo:
    </p>

    <ul>
        <li>
            <p class="dia">Día {{ my_date.strftime('%d') }} de Marzo (informe de {{ my_date.strftime('%b')}})
            </p>
        </li>
    </ul>

	<h4>Esta es una lista de cosas que me gusta</h4>
	<ul>
	{% for item in cosas %}
		<table border="1">

            <tr>
                <td>{{item}}</td>
                <td>{{item}}</td>
            </tr>

        </table>
	{% endfor %}
	</ul>
{% endblock %}

<p>Esto no está siendo renderizado</p>
{% block footer %}
	<p>Un saludo</p>
{% endblock %}