{% extends "base.html" %}
{% set title ='Informe diario CATV Telepresencia' %}

{% block content %}

	<p>Buenos días Esther,</br>
        Adjuntamos informe del día {{ my_date.strftime('%d') }} de {{month_actual}}
    </p>

    <ul>
        <li>
            <p class="dia">Día {{ my_date.strftime('%d') }} de {{month_actual}} (informe del {{day_actual}})
            </p>
        </li>
    </ul>

	<h4>Incidencias tratadas  (Sólo Telefónica)</h4>
	<ul>
        <table border="1">
            <tr>
	{% for item in name_columns %}
                <th>{{item}}</th>
	{% endfor %}
            </tr>
        </table>
	</ul>

    <h4>Incidencias cerradas  (Sólo Telefónica)</h4>
	<ul>
        <table border="1">
             <tr>
	{%  for item in name_columns %}
                <th>{{item}}</th>
	{% endfor %}
             </tr>
        </table>
	</ul>
{% endblock %}

<p>Esto no está siendo renderizado</p>
{% block footer %}
	<p>Un saludo,</p>
{% endblock %}